
<!-- Navigation start -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#royalHospitalsNavbar"
        aria-controls="royalHospitalsNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="royalHospitalsNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active-page" href="" routerLink="accueil">
                    <i class="icon-devices_other nav-icon"></i>
                    Dashboard
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Navigation end -->



        <!-- Content wrapper start -->
<div class="content-wrapper">
    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <a href="" routerLink="reception">
                <div class="hospital-tiles">
                    <img src="../../assets/images/hospital/appointment.svg" alt="Appointments" />
                    <p>Reception</p>
                    <h2>49</h2>
                </div>
            </a>
            
        </div>
        
        
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
            <a href="" routerLink="specialist">
                <div class="hospital-tiles">
                    <img src="../../assets/images/hospital/doctor.svg" alt="Doctors" />
                    <p>Doctors</p>
                    <h2>75</h2>
                </div>
            </a>
        </div>
        
       
    </div>
    <!-- Row end -->
</div>

<app-footer></app-footer>
