<!-- Header -->
<app-header></app-header>

<main>
    <div class="main-container">

        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Patients</li>
                <li class="breadcrumb-item active">List Patients Details</li>
            </ol>
            
        </div>

 
        <div class="container-fluid card">
            <p-table 
            #myTab  
            [value]="patients" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['PRENOMSPATIENT', 'NOMPATIENT', 'DATENAISSPATIENT', 'TELPATIENT', 'PROFESSIONPATIENT']"
            [rowsPerPageOptions]="[5,10,15,20]"
              
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input 
                                pInputText 
                                type="text" 
                                (input)= "myTab.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th >First Name</th>
                        <th >Last Name</th>
                        <th >Birthday</th>
                        <th >Address</th>
                        <th >Phone</th>
                        <th >Job</th>
                        <th >Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td>{{ patient.PRENOMSPATIENT }}</td>
                        <td>{{ patient.NOMPATIENT }}</td>
                        <td>{{ patient.DATENAISSPATIENT }}</td>
                        <td>{{ patient.ADRESSEPATIENT }}</td>
                        <td>{{ patient.TELPATIENT }}</td>
                        <td>{{ patient.PROFESSIONPATIENT }}</td>
                        <td>
                            
                            <button type="button" style="margin-right: 10px;" (click)="openNew(patient.IDDOSSIERPATIENT, 'Consultation Details')" class="btn btn-primary btn-sm">Consultation</button>
                            @if (userRole !== 'reception' && userRole !=='receptionniste') {
                                <button type="button" class="btn btn-secondary btn-sm" (click)="openNew(patient.IDDOSSIERPATIENT,'Appointement Details')">RDV</button>
                            }
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>
        <!-- Start Modal -->
        <p-dialog [(visible)]="consultationDialog" [style]="{ width: '450px' }" [header]="modalTitle" [modal]="true"
            styleClass="p-fluid">
            <ng-template pTemplate="content">
                <div class="field" [style]="{ height: '150px' }">
                    <label for="specialite">Consultation Type </label>
                    <p-dropdown [options]="specialities" [(ngModel)]="consultationType" inputId="specialite"
                        (onChange)="onSpecialityChange($event)">
                        <ng-template let-speciality pTemplate="selectedItem">
                            <p-tag [value]="speciality" />
                        </ng-template>
                        <ng-template let-speciality pTemplate="item">
                            <span>{{ speciality }}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field" [style]="{ height: '150px' }">
                    <label for="Specialist">Specialist </label>
                    <p-dropdown [options]="filteredSpecialists" inputId="specialist">
                        <ng-template let-specialist pTemplate="selectedItem">
                            <p-tag [value]="specialist" />
                        </ng-template>
                        <ng-template let-specialist pTemplate="item">
                            <span>{{ specialist }}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
        
            </ng-template>
        
            <ng-template pTemplate="footer">
                <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
                <p-button pRipple label="Assign" icon="pi pi-check" [text]="true" (onClick)="onAssign()"/>
            </ng-template>
        </p-dialog>
    <!-- End Modal -->

    <!-- Notifications Toast -->
    <p-toast></p-toast>
       
   </div>

    <footer class="main-footer">© NykoGes Hospitals 2024</footer>
</main>

