<!-- Header -->
<app-header></app-header>

<main>
    <div class="main-container">

        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Patients</li>
                <li class="breadcrumb-item active">List Patients Details</li>
            </ol>
            
        </div>

 
        <div class="container-fluid card">
            <p-table 
            #myTab  
            [value]="patients" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['PRENOMSPATIENT', 'NOMPATIENT', 'DATENAISSPATIENT', 'TELPATIENT', 'PROFESSIONPATIENT']"
            [rowsPerPageOptions]="[5,10,15,20]"
              
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input 
                                pInputText 
                                type="text" 
                                (input)= "myTab.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th >First Name</th>
                        <th >Last Name</th>
                        <th >Birthday</th>
                        <th >Address</th>
                        <th >Phone</th>
                        <th >Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr>
                        <td>{{ patient.PRENOMSPATIENT }}</td>
                        <td>{{ patient.NOMPATIENT }}</td>
                        <td>{{ patient.DATENAISSPATIENT }}</td>
                        <td>{{ patient.ADRESSEPATIENT }}</td>
                        <td>{{ patient.TELPATIENT }}</td>
                        <td>{{ patient.PROFESSIONPATIENT }}</td>
                        <td>
                            
                            <button type="button" style="margin-right: 10px;" (click)="openNew('Consultation Details')" class="btn btn-primary btn-sm">Consultation</button>
                            <button type="button" class="btn btn-secondary btn-sm" (click)="openNew('Appointement Details')">RDV</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- Start Modal -->
            <p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" [header]="modalTitle" [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field">
                        <label for="category">Consultation Type </label>
                        <!-- [(ngModel)]="product.category" -->
                        <p-dropdown  inputId="category">
                            <ng-template pTemplate="selectedItem">
                                <!-- [value]="product.category" -->
                                <p-tag />
                            </ng-template>
                            <ng-template let-product pTemplate="item">
                                <p-tag [value]="product.name"/>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="Specialist">Specialist </label>
                        <!-- [(ngModel)]="product.category" (mettre juste en doussous) -->
                        <p-dropdown  inputId="specialist">
                            <ng-template pTemplate="selectedItem">
                                <!-- [value]="product.category" -->
                                <p-tag />
                            </ng-template>
                            <ng-template let-product pTemplate="item">
                                <!-- [value]="product.name" -->
                                <p-tag />
                            </ng-template>
                        </p-dropdown>
                    </div>
            
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
                    <p-button pRipple label="Assign" icon="pi pi-check" [text]="true"  />
                </ng-template>
            </p-dialog>
            <!-- End Modal -->
        </div>

       
   </div>

    <footer class="main-footer">© NykoGes Hospitals 2024</footer>
</main>

