<!-- Header -->
<app-header></app-header>


<div class="container-fluid">

    <!-- *************
        ************ Main container start *************
    ************* -->
    <div class="main-container">

        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Add Consultation Details</li>
            </ol>
        </div>
        <!-- Page header end -->


        <!-- Content wrapper start -->
        <div class="content-wrapper">

            <!-- Row start -->
            <div class="row gutters">
                
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Consultation Details</div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="consultationForm!" (ngSubmit)="onSubmit()">
                                <div class="row gutters">
                                    <input formControlName="cslID" type="text" class="form-control" name="cslID" hidden  placeholder="ID" readonly>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="patID">Create ID</label>
                                            <input formControlName="patID" type="text" class="form-control" id="patID" placeholder="ID" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="firstName">First Name</label>
                                            <input type="text" formControlName="firstName" class="form-control" id="fullName" placeholder="Srinu" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="lastName">Last Name</label>
                                            <input type="text" class="form-control" formControlName="lastName" id="lastName" placeholder="Srinu" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="agE">Birthday</label>
                                            <input type="date" formControlName="agE" class="form-control" id="agE" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="Phone">Phone</label>
                                            <input type="text" class="form-control" formControlName="phone" id="Phone" placeholder="Phone" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="inputEmail">Email</label>
                                            <input type="email" class="form-control" id="inputEmail"
                                                formControlName ="email"
                                                placeholder="medical@bm.com" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="addreSs">Current Address</label>
                                            <input class="form-control" id="address"
                                                formControlName="address"
                                                placeholder="Current Address" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="job">Patient Job</label>
                                            <input class="form-control" id="job"
                                                formControlName="job"
                                                placeholder="Current job" readonly>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="sanguinGrp">Sanguin Group</label>
                                            <select 
                                            aria-controls="sanguinGrp" formControlName="sanguinGrp" class="form-control form-control-sm selectpicker" readonly>
                                            <option value=""></option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="A-">A-</option>
                                            <option value="A+">A+</option>
                                            <option value="B-">B-</option>
                                            <option value="B+">B+</option>
                                        </select> 
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="biO">Patient History</label>
                                            <textarea class="form-control"
                                                formControlName="patientHistory" name="patientHistory"
                                                placeholder="Patient History"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="inputHeight">Height</label>
                                            <input type="number" class="form-control" id="inputHeight"
                                                formControlName="height" name="height"
                                                placeholder="176cm">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="inputWeight">Weight</label>
                                            <input type="number" class="form-control" id="inputWeight"
                                                formControlName="weight" name="weight"
                                                placeholder="65 KG">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="inputTemperature">Temperature</label>
                                            <input type="number" class="form-control" id="inputTemperature"
                                                formControlName="temperature" name="temperature"
                                                placeholder="37">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="diagnostic">Diagnostic</label>
                                            <textarea placeholder="Diagnostic " name="diagnostic" formControlName="diagnostic" class="form-control" id="diagnostic"
                                                ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="prescription">Prescription</label>
                                            <textarea placeholder="Prescription " name="prescription" formControlName="prescription" class="form-control" id="diagnostic"
                                                ></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="statut">Statut Consultation</label>
                                            <select 
                                            aria-controls="statut" formControlName="statut" name="statut" class="form-control form-control-sm selectpicker">
                                            <option value=""></option>
                                            <option value="OK">Completed</option>
                                            <option value="PENDING">Pending</option>
                                            <!-- <option value="CANCEL">C</option> -->
                                            
                                        </select> 
                                        </div>
                                    </div>
                                    
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="form-group">
                                            <label for="dateRdv">Get appointement</label>
                                            <input type="date" class="form-control" 
                                                formControlName="dateRdv" name="dateRdv">
                                                @if (consultationForm?.get('dateRdv')?.hasError('dateInvalid') && consultationForm?.get('dateRdv')?.touched) {
                                                    <small class="text-danger">La date du rendez-vous ne peut pas être aujourd'hui ou dans le passé.</small>
                                                }
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12">
                                        <div class="text-right">
                                            <button class="btn btn-primary">Ask Exam</button>
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-right">
                                            <button class="btn btn-primary">Create Consultation</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- Content wrapper end -->

    </div>
    <!-- *************
        ************ Main container end *************
    ************* -->

 <!-- Start Modal -->
 <!-- <p-dialog [(visible)]="consultationDialog" [style]="{ width: '450px' }" header="Prise de RDV" [modal]="true"
 styleClass="p-fluid">
 <ng-template pTemplate="content">
     <div class="field" [style]="{ height: '150px' }">
         <label for="specialite">Consultation Type </label>
         <p-dropdown [options]="specialities" [(ngModel)]="consultationType" inputId="specialite"
             (onChange)="onSpecialityChange($event)">
             <ng-template let-speciality pTemplate="selectedItem">
                 <p-tag [value]="speciality" />
             </ng-template>
             <ng-template let-speciality pTemplate="item">
                 <span>{{ speciality }}</span>
             </ng-template>
         </p-dropdown>
     </div>
     <div class="field" [style]="{ height: '150px' }">
         <label for="Specialist">Specialist </label>
         <p-dropdown [options]="filteredSpecialists" inputId="specialist">
             <ng-template let-specialist pTemplate="selectedItem">
                 <p-tag [value]="specialist" />
             </ng-template>
             <ng-template let-specialist pTemplate="item">
                 <span>{{ specialist }}</span>
             </ng-template>
         </p-dropdown>
     </div>

 </ng-template>

 <ng-template pTemplate="footer">
     <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
     <p-button pRipple label="Assign" icon="pi pi-check" [text]="true" (onClick)="onAssign()"/>
 </ng-template>
</p-dialog> -->
<!-- End Modal -->
</div>