<!-- Header -->
<app-header></app-header>

<main>
    <div class="main-container">

        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Appointement</li>
                <li class="breadcrumb-item active">List Appointement</li>
            </ol>
            
        </div>

 
        <div class="container-fluid card">
            <p-table 
            #myTab3  
            [value]="consultations!" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['name', 'code', 'category']"
            [rowsPerPageOptions]="[5,10,15,20]"
              
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input 
                                pInputText 
                                type="text" 
                                (input)= "myTab3.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th >#</th>
                        <th >First Name</th>
                        <th >Last Name</th>
                        <th >Date Appointement</th>
                        <th >Address</th>
                        <th >Phone</th>
                        <th >Consultation Type</th>
                        <th >Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-consultation let-i="rowIndex">
                    <tr>
                       
                        <td>{{ i + 1}}</td>
                        <td>{{ consultation.patientDetails?.firstName }}</td>
                        <td>{{ consultation.patientDetails?.lastName }}</td>
                        <td>{{ consultation.date }}</td>
                        <td>{{ consultation.patientDetails?.address }}</td>
                        <td>{{ consultation.patientDetails?.phone }}</td>
                        <td>{{ consultation.TYPECONSULTATION }}</td>
                        <td>
                            <button type="button" style="margin-right: 10px;" (click)="openNew(consultation.IDDOSSIERPATIENT, 'Consultation Details')" class="btn btn-primary btn-sm">Consultation</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <!-- Start Modal -->
            <p-dialog [(visible)]="patientDialog" [style]="{ width: '450px' }" [header]="modalTitle" [modal]="true"
                styleClass="p-fluid">
                <ng-template pTemplate="content">
                    <div class="field" [style]="{ height: '100px' }">
                        <label for="category">Consultation Type </label>
                        <p-dropdown [options]="specialities" [(ngModel)]="consultationType" inputId="specialite"
                        (onChange)="onSpecialityChange($event)" >
                        <ng-template let-speciality pTemplate="selectedItem">
                            <p-tag [value]="speciality" />
                        </ng-template>
                        <ng-template let-speciality pTemplate="item">
                            <span>{{ speciality }}</span>
                        </ng-template>
                    </p-dropdown>
                    </div>
                    <div class="field" [style]="{ height: '100px' }">
                        <label for="Specialist">Specialist </label>
                        <p-dropdown [options]="filteredSpecialists" inputId="specialist">
                            <ng-template let-specialist pTemplate="selectedItem">
                                <p-tag [value]="specialist" />
                            </ng-template>
                            <ng-template let-specialist pTemplate="item">
                                <span>{{ specialist }}</span>
                            </ng-template>
                        </p-dropdown>
                    </div>
            
                </ng-template>
            
                <ng-template pTemplate="footer">
                    <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideDialog()" />
                    <p-button pRipple label="Assign" icon="pi pi-check" [text]="true" (click)="onAssign()" />
                </ng-template>
            </p-dialog>
            <!-- End Modal -->
        </div>
         <!-- Notifications Toast -->
        <p-toast></p-toast>
       
   </div>

    <footer class="main-footer">© NykoGes Hospitals 2024</footer>

</main>

