<!-- Header -->
<app-header></app-header>
<!-- *************
				************ Main container start *************
			************* -->
<div class="main-container">


    <!-- Page header start -->
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="" routerLink="/admin">Home</a></li>
            <li class="breadcrumb-item active">Edit Specialist Details</li>
        </ol>
       
    </div>
    <!-- Page header end -->


    <!-- Content wrapper start -->
    <div class="content-wrapper">

         <!-- Row start -->
         @if (specialistForm) {
           <form [formGroup]="specialistForm">
                <div class="row gutters">
                  <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-title">Enter Specialist Details</div>
                      </div>
                      <div class="card-body">
                        @if (alertMessage) {
                            <div class="alert alert-danger">
                                {{ alertMessage }}
                              </div>
                        }
                        <div class="row gutters">
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                              <label for="idSpecialist">ID Specialist</label>
                              <input type="text" class="form-control" formControlName="idSpecialist" readonly required>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                              <label for="firstName">First Name</label>
                              <input type="text" class="form-control" formControlName="firstName" placeholder="Srinu" required>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                              <label for="lastName">Last Name</label>
                              <input type="text" class="form-control" formControlName="lastName" placeholder="Srinu" required>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                              <label for="grade">Grade</label>
                              <input type="text" class="form-control" formControlName="grade" placeholder="Qualification" required>
                            </div>
                          </div>
                          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                              <label for="speciality">Speciality</label>
                              <input type="text" class="form-control" formControlName="speciality" placeholder="Speciality" required >
                            </div>
                          </div>
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Edit Profile</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-title">Reset Password</div>
                      </div>
                      <div class="card-body">
                        <div class="row gutters">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                              <label for="userName">User Name</label>
                              <input type="text" class="form-control" formControlName="userName" placeholder="User Name" readonly required>
                            </div>
                          </div>
                            <div [formGroup]="userForm!" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" formControlName="password" placeholder="Password" required>
                              </div>
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                              <div class="text-right">
                                <button type="submit" class="btn btn-danger" (click)="resetPassword()">Reset Password</button>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
         }
         
        <!-- Row end -->
        
    </div>
    <!-- Content wrapper end -->
    div.<div class="container-fluid card">
       <!-- Notifications Toast -->
       <div class="card flex justify-content-center">
        <p-toast></p-toast>
      </div>
    </div>
</div>
<!-- *************
				************ Main container end *************
			************* -->

