<app-header></app-header>

<div class="container-fluid">
    <div class="main-container">


        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="" routerLink="/admin">Home</a></li>
                <li class="breadcrumb-item active">Specialists List</li>
            </ol>
        </div>
        <!-- Page header end -->


        <div class="container-fluid card">
            <p-table 
            #myTab  
            [value]="specialists" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['NOMSPECIALISTE', 'PRENOMSPECIALISTE', 'SPECIALITE', 'GRADESPECIALISTE']"
            [rowsPerPageOptions]="[5,10,15,20]"
              
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input 
                                pInputText 
                                type="text" 
                                (input)= "myTab.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">User ID</th>
                        <th style="width:25%">Nom</th>
                        <th style="width:25%">Prenoms</th>
                        <th style="width:25%">Specialite</th>
                        <th style="width:25%">Grade</th>
                        <th style="width:25%">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-specialist>
                    <tr>
                        <td>{{ specialist.IDSPECIALISTE }}</td>
                        <td>{{ specialist.NOMSPECIALISTE }}</td>
                        <td>{{ specialist.PRENOMSPECIALISTE }}</td>
                        <td>{{ specialist.SPECIALITE }}</td>
                        <td>{{ specialist.GRADESPECIALISTE }}</td>
                        <td></td>
                       
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>
    <!-- *************
        ************ Main container end *************
    ************* -->
   

</div>

<app-footer></app-footer>