<main class="authentication">
    <!-- Container start -->
		<div class="container">
			
			<form action="">
				<div class="row justify-content-md-center">
					<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
						<div class="login-screen">
							<div class="login-box">
								<a href="#" class="login-logo">
									NykoGes Hospitals
								</a>
								<h5>Welcome,<br />Create your Admin Account.</h5>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Email Address" />
								</div>
								<div class="form-group">
									<div class="input-group">
										<input type="password" class="form-control" placeholder="Password" />
										<input type="password" class="form-control" placeholder="Conform">
									</div>
									<small id="passwordHelpInline" class="text-muted">
										Password must be 8-20 characters long.
									</small>
								</div>
								<div class="actions">
									<button type="submit" class="btn btn-primary">Signup</button>
								</div>
								<hr>
								<div class="m-0">
									<span class="additional-link">Already have an account? <a [routerLink]="[ '/login' ]" href="" class="btn btn-secondary">Login</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
		<!-- Container end -->

</main>