<!-- Header -->
<app-header></app-header>

<main>
    <div class="main-container">

        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Patients</li>
                <li class="breadcrumb-item active">List Patients Details</li>
            </ol>
            
        </div>

 
        <div class="container-fluid card">
            <p-table 
            #myTab  
            [value]="products" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [paginator]="true"
            [rows]="5"
            [globalFilterFields]="['name', 'code', 'category']"
            [rowsPerPageOptions]="[5,10,15,20]"
              
            >
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <p-iconField iconPosition="left" class="ml-auto">
                            <p-inputIcon styleClass="pi pi-search" />
                            <input 
                                pInputText 
                                type="text" 
                                (input)= "myTab.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search keyword" />
                        </p-iconField>
                    </div>
                </ng-template>
            
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:25%">Create ID</th>
                        <th style="width:25%">First Name</th>
                        <th style="width:25%">Last Name</th>
                        <th style="width:25%">Birthday</th>
                        <th style="width:25%">Address</th>
                        <th style="width:25%">Phone</th>
                        <th style="width:25%">Consultation type</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.inventoryStatus }}</td>
                        <td>{{ product.rating }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

       
   </div>

    <footer class="main-footer">© NykoGes Hospitals 2024</footer>

</main>

