
<app-header></app-header>



<div class="main-container">


    <!-- Page header start -->
    <div class="page-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Pages</li>
            <li class="breadcrumb-item active">Invoice</li>
        </ol>
    </div>
    <!-- Page header end -->


    <!-- Content wrapper start -->
    <div class="content-wrapper">


        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body p-0">
                        <div class="invoice-container">

                            <div class="invoice-header">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="invoice-logo">Royal Hospitals</div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="btn-group float-right">
                                            <a href="#" class="btn btn-primary btn-sm">
                                                <i class="icon-export"></i> Export PDF
                                            </a>
                                            <a href="#" class="btn btn-secondary btn-sm ml-2">
                                                <i class="icon-printer"></i> Print
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->
                            </div>

                            <div class="invoice-address">
                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <small>From,</small><br><br>
                                        <h6>Nélson</h6>
                                        <address>
                                            Street Address<br>
                                            City, Zip Code<br>
                                            Phone: 000-000-0000
                                        </address>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <small>To,</small><br><br>
                                        <h6>Florida</h6>
                                        <address>
                                            Street Address<br>
                                            City, Zip Code<br>
                                            Phone: 000-000-0000
                                        </address>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="invoice-details">
                                            <small>Invoice No - <span class="badge badge-info">#00049</span></small><br>
                                            <small>October 15th 2019</small><br>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->
                            </div>

                            <div class="invoice-body">

                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <h5>Hello, Nélson</h5>
                                        <p>Thank you for shopping from our store and for your order.</p>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        
                                    </div>
                                </div>
                                <!-- Row end -->

                                <!-- Row start -->
                                <div class="row gutters">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Items</th>
                                                        <th>Product ID</th>
                                                        <th>Quantity</th>
                                                        <th>Sub Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            Laser Medical Device
                                                            <p class="m-0 text-muted">
                                                                <small>Reference site about Lorem Ipsum, giving information on its origins</small>
                                                            </p>
                                                        </td>
                                                        <td>#50000879</td>
                                                        <td>2</td>
                                                        <td>$7150.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Blue Transparency Film
                                                            <p class="m-0 text-muted">
                                                                <small>As well as a random Lipsum generator.</small>
                                                            </p>
                                                        </td>
                                                        <td>#50000871</td>
                                                        <td>3</td>
                                                        <td>$50.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Rehabilitation prostate
                                                            <p class="m-0 text-muted">
                                                                <small>Lorem ipsum has become the industry standard.</small>
                                                            </p>
                                                        </td>
                                                        <td>#50000665</td>
                                                        <td>2</td>
                                                        <td>$49.99</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->

                                <!-- Row start -->
                                <div class="invoice-payment">
                                    <div class="row gutters">
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 order-last">
                                            <table class="table m-0">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>
                                                                Subtotal<br>
                                                                Shipping &amp; Handling<br>
                                                                Tax<br>
                                                            </p>
                                                            <h5 class="text-danger"><strong>Grand Total</strong></h5>
                                                        </td>
                                                        <td>
                                                            <p>
                                                                $7270.00<br>
                                                                $30.00<br>
                                                                $50.00<br>
                                                            </p>
                                                            <h5 class="text-danger"><strong>$7450.00</strong></h5>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Row end -->

                            </div>

                            <div class="invoice-footer">
                                Thank you for your Business.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">

                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4">
                        <div class="invoice-status">
                            <i class="icon-insert_invitation"></i>
                            <h2 class="status text-success">380</h2>
                            <h5 class="status-title">Invoices Paid</h5>
                            <p class="status-type">An invoice, bill or tab is a commercial document issued by a seller to a buyer.</p>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4">
                        <div class="invoice-status">
                            <i class="icon-event_note"></i>
                            <h2 class="status text-danger">75</h2>
                            <h5 class="status-title">Invoices Overdue</h5>
                            <p class="status-type">An invoice, bill or tab is a commercial document issued by a seller to a buyer.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Row end -->


    </div>
    <!-- Content wrapper end -->


</div>