<main class="authentication">
 <!-- Container start -->
 <div class="container">
        
    <form action="#">
        <div class="row justify-content-md-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="login-screen">
                    <div class="login-box">
                        <a href="#" class="login-logo">
                            NykoGes Hospitals
                        </a>
                        <h5>Welcome back,<br />Please Login to your Account.</h5>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email Address" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" />
                        </div>
                        <div class="actions">
                            <!-- <a href="forgot-pwd.html">Recover password</a> -->
                            <button type="submit" class="btn btn-info">Login</button>
                        </div>
                        <hr>
                        <div class="m-0">
                            <span class="additional-link">No account? <a  [routerLink]="[ '/signup' ]" href="" class="btn btn-secondary">Signup</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<!-- Container end -->


</main>

   